body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
}

.chord {
    padding-right: 10px;
}

.sidebar {
    left: 0;
    margin: 0;
    width: 250px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    height: 100%;
    overflow: auto;
    position: fixed;
    z-index: 1;
    -webkit-transition: left 0.3s ease-in-out;
    transition: left 0.3s ease-in-out;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.sidebar::-webkit-scrollbar {
    display: none;
}

.welcome-text {
    color: #007bff;
    margin-top: 0;
    padding-top: 0;
}

.search-bar {
    width: 230px;
    line-height: 1.5vh;
    border-radius: 10px;
    padding: 0.5vh;
}

.active-list,
.song-list {
    list-style: none;
    padding: 0;
    border-top: 1px solid #fff;
    padding-top: 20px;
}

.song-list[title]::before,
.active-list[title]::before {
    content: attr(title);
    display: block;
    font-size: 15px;
    line-height: 30px;
    color: #aaa;
    font-weight: bold;
}

.active-list li,
.song-list li {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 10px;
    cursor: pointer;
    text-decoration: underline;
}

.active-list li:hover,
.song-list li:hover {
    text-decoration: none;
}

.toggle-sidebar-button {
    position: absolute;
    top: 10px;
    left: 240px;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    z-index: 2;
}

.openbtn {
    position: sticky;
    top: 0;
    margin-left: 290px;
    font-size: 20px;
    cursor: pointer;
    background-color: #333;
    color: white;
    padding: 10px 18px;
    border: none;
    height: 6vh;
    max-height: 6vh;
    -webkit-transition: margin-left 0.3s ease-in-out;
    transition: margin-left 0.3s ease-in-out;
    z-index: 2;
}

.lyrics-container {
    position: relative;
    padding: 20px;
    flex: 1;
    min-width: max-content;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
    z-index: 0;
}

.lyrics-container h1 {
    margin-top: 0;
    padding-top: 0;
    font-size: 24px;
    color: #333;
    /* Dark text color */
}

.lyrics-container h2 {
    margin-top: 10px;
    /* Add space between h1 and h2 */
    font-size: 18px;
    color: #555;
    /* Medium text color */
}

.lyrics-container p {
    width: fit-content;
    margin: 10px 0;
    font-size: 16px;
    line-height: 1.6;
    color: #666;
}

.row {
    border-collapse: collapse;
    table-layout: fixed;
}

.lyrics {
    padding: 0px;
    width: max-content;
    white-space: pre-wrap;
}

.settings-container {
    position: fixed;
    top: 20px;
    right: 20px;
}

.transpose-container {
    position: relative;
    top: 0px;
    right: 0px;
    border: 1px solid black;
    border-radius: 10px;
    padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    /* Center content horizontally */
}

.transpose-text {
    color: #000;
    font-weight: bold;
    margin-bottom: 5px;
}

.transpose-key {
    color: #000;
    font-weight: bold;
    margin-top: 5px;
}

.toggle-button {
    display: flex;
}

.plus-sign,
.transpose-value,
.minus-sign {
    width: 20px;
    height: 20px;
    border: 1px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 5px;
    cursor: pointer;
    font-weight: bold;
}

.plus-sign:hover,
.minus-sign:hover {
    background-color: #ddd;
}

.presets-container {
    position: relative;
    top: 5px;
    border: 1px solid black;
    border-radius: 10px;
    margin-bottom: 5px;
}

.presets,
.flow-title {
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    line-height: 3vh;
    padding: 5px;
}

.presets:not(:first-child) {
    border-top: 1px solid black;
}

.presets:last-child {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.presets:not(:first-child):hover {
    cursor: pointer;
    background: #ddd;
}

.flow-container {
    position: relative;
    top: 5px;
    border-radius: 10px;
    margin-bottom: 5px;
}

#flowList {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}

#flowList li {
    padding: 2px 0;
}